In [43]:
import sys
print(sys.path)

['c:\\Users\\victor\\Desktop\\escuela\\ML\\NC', 'c:\\Users\\victor\\AppData\\Local\\Programs\\Python\\Python311\\python311.zip', 'c:\\Users\\victor\\AppData\\Local\\Programs\\Python\\Python311\\DLLs', 'c:\\Users\\victor\\AppData\\Local\\Programs\\Python\\Python311\\Lib', 'c:\\Users\\victor\\AppData\\Local\\Programs\\Python\\Python311', '', 'C:\\Users\\victor\\AppData\\Roaming\\Python\\Python311\\site-packages', 'C:\\Users\\victor\\AppData\\Roaming\\Python\\Python311\\site-packages\\win32', 'C:\\Users\\victor\\AppData\\Roaming\\Python\\Python311\\site-packages\\win32\\lib', 'C:\\Users\\victor\\AppData\\Roaming\\Python\\Python311\\site-packages\\Pythonwin', 'c:\\Users\\victor\\AppData\\Local\\Programs\\Python\\Python311\\Lib\\site-packages']

# Participantes: Victor Armando Jaramillo Moreno

In [44]:
import pandas
import numpy as np
import matplotlib.pyplot as plt

import seaborn
# Classification models
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import NearestCentroid
# Datasets
from sklearn.datasets import load_breast_cancer, load_iris
# Validation and metrics
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from nearCentroid import nc

In [45]:
data = load_iris()
feature_names = data.feature_names
target_names = data.target_names
X,Y = load_iris(return_X_y = True)
df = pandas.DataFrame(X,columns=feature_names)
df['class'] = Y
df['classn'] = target_names[Y]
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,classn
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [46]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, Y, test_size=0.3, random_state=0)

In [47]:
model = NearestCentroid()
model.fit(Xtrain,Ytrain)
Ypred = model.predict(Xtest)
print('Accuracy:',accuracy_score(Ytest,Ypred))

Accuracy: 0.9111111111111111

In [48]:
model = nc()
model.fit(Xtrain,Ytrain)
Ypred = model.predict(Xtest)
print('Accuracy: ', accuracy_score(Ytest,Ypred))

Accuracy:  0.9111111111111111